@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}


:root {
    --light-blue: #0993f7;
    --custom-white: #f4f4f4;
    --light-gray: #e2dede;
    --yellow-border: #f0b801;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.sidebar {
    background-color: var(--light-blue);
    grid-row: 1 / 3;
    display: grid;
    width: min(20vw, 50vw);
}

.sidebar-list {
    margin-right: auto;
}

.sidebar-header {
    margin-top: 1rem;
    margin-left: -1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
}



.sidebar-list > li:not(.sidebar-header) {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    margin-left: -0.5rem;
}

.sidebar-list > li:not(.sidebar-header, .sidebar-communities) {
    margin-bottom: 1rem;
}

.sidebar-header > p {
    font-size: 1.5rem;
}

.sidebar-communities {
    margin-bottom: 2rem;
}

.sidebar-list > li {
    list-style-type: none;
    color: var(--custom-white);
    font-weight: bolder;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.search-bar {
    padding-left: 2rem;
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-bar > input {
    background-color: var(--light-gray);
    border: none;
    border-radius: 15px;
    padding: 0.5rem 17rem;
    align-items: flex-start;
}

.personal-profile {
    justify-self: end;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.personal-profile > p {
    font-weight: bolder;
}

.profile-greeting {
    padding-left: 2rem;
    align-items: center;
    display: flex;
    font-weight: bolder;
}

.greeting-container > .greeting{
    font-size: 0.8rem;
}

.greeting-container > .greeting-username {
    font-size: 1.5rem;
}

.profile-buttons {
    align-self: center;
    justify-self: end;
    padding-right: 2rem;
}

.profile-buttons > button {
    border-radius: 3rem;
    border: none;
    color: var(--custom-white);
    background-color: var(--light-blue);
    font-size: 1rem;
    padding: 1rem 2rem;
}

.profile-buttons > button:not(.Share-button) {
    margin-right: 1rem;
}

.main-content {
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.your-project {
    grid-row: span 2;
    padding: 3rem 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.card-container > .card {
    border-left: 1rem solid var(--yellow-border);
    border-radius: 1rem;
    background-color: var(--custom-white);
    padding: 2rem 3rem;
}

.main-content-title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.projects-button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1rem;
    gap: 2.5rem;
}

.card > .projects-title {
    font-weight: bolder;
}

.announcements {

}

.trending {

}